$font-stack: Myriad Pro, sans-serif;
$primary-color: #333;
$myfontsize: 18px;
$myfontsize2: 14px;

body {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: $myfontsize;
}
h1{
	color: $primary-color;
}
p {
	font-size: $myfontsize2;
}
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}