$font-stack: Lucida Console, monospace;
$primary-color: #333;
$myfontsize: 18px;
body {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: $myfontsize;
}
h1{
	color: $primary-color;
}
nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}