@charset "utf-8";
// Scss Document
.jumbotron{
	background-size:cover; 
	background-image: url("../WordCampDallas/Dallas2.png");
}
.display-4{
	background-color: white;
}
.lead{
	color: white;
	font-weight: 500;
}
